html{
    height: 100%;
}

body{
    height: 100vh;
    
    /* background-image:linear-gradient(purple, white); */
    background-image: url(../images/record-cherry.jpg);
    background-position: center;
    background-size: stretch;

    
}

.record{
    width: 35%;
    height: 50%;
    margin-bottom: 0% !important;
}

/* .record-div{
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    margin-top: 50px;
} */

h1{
    font-family: 'Play', sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
}



#input{
    background-color: white;
    border-bottom: none;
    width:40%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    border-radius: 6px;
    
}

.search-btn{
    background-color: black !important;
    text-transform: none;
    border-radius: 25px;
}

.search-btn:hover{
    transform: scale(1.2);
}

.main-content{
    margin-top: 175px;
    margin-right: 250px !important;
    color: rgb(29, 12, 12);
    
   
    
}

@media only screen and (min-height: 800px){
    .main-content{
        margin-top: 250px;
    }

}

@media only screen and (max-height: 500px){
    .main-content{
        margin-top: 50px;
    }
}


    